<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">CaraVan</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
          <div class="thumbnail">
                  <img class="img-responsive" src="<%= car.image %>">
                   <div class="caption-full">
                       <h4 class="pull-right">$<%= car.price %> MSRP Price</h4>
                       <h4><a><%=car.name%></a></h4>
                       <p><%= car.description %></p>
                            <p> <em>Submited by <%=car.author.username %> </em></p>
                            <% if((currentUser && car.author.id.equals(currentUser._id))){%>
                            <a class="btn btn-sm btn-warning" href="/cars/<%= car._id %>/edit">Edit</a>
                          <form  class="delete-form" action="/cars/<%=car._id %>?_method=delete" method="post">
                          <button  class="btn btn-sm btn-danger">Delete</button>
                          </form>
                          <%  } %>
                   </div>

               </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/cars/<%= car._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% car.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= new Date().toDateString();%></span>
                            <p>
                                <%= comment.text %>
                            </p>
  <% if((currentUser && comment.author.id.equals(currentUser._id))){%>
                            <a class="btn btn-sm btn-warning" href="/cars/<%= car._id %>/comments/<%=comment._id %>/edit">Edit</a>
                            <form  class="delete-form" action="/cars/<%= car._id %>/comments/<%=comment._id %>?_method=delete" method="post">
                            <button  class="btn btn-sm btn-danger">Delete</button>
                            </form>
<% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
